# Node
node_modules/
npm-debug.log
yarn-error.log

# Firebase
.firebase/
firebase-debug.log
firestore-debug.log
ui-debug.log
.firebaserc

# Flutter / Dart build artifacts
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages
**/.pub-cache/
**/.pub/
**/*.g.dart
**/*.freezed.dart

# Android
**/android/.gradle/
**/android/local.properties
**/android/captures/
**/android/key.properties
**/android/app/release/
**/*.keystore
**/*.jks

# iOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner/GeneratedPluginRegistrant.*
**/*.xcworkspace

# IDE
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db

# Secrets
**/.env
